
# Daily Stock Prices Dataset

This dataset provides a diverse representation of historical stock prices from selected S&P 500 companies over the last three decades. It has been curated with the aim to capture the underlying trends, patterns, and fluctuations of individual stock prices, independent of broader market influences. The dataset offers a rich blend of leading companies from the S&P 500 list of 1990 combined with a random selection from the remainder of the list. The dataset contains daily stock data spanning 1000 days (roughly equivalent to 4 years) for each of the 52 selected stocks. In a step towards ensuring strict technical analysis, the stock tickers have been replaced with randomly generated unique strings to mask the original tickers and remove any potential analyst bias.

### Dataset Composition:

1. **Historical Reference:** The dataset includes the top 10 companies from the 1990 S&P 500 list that are still in existence, supplemented by a random selection from the remaining companies, ensuring all companies included are currently operational.

2. **Random Time Window:** A random start date for each company's data was selected from between the beginning of 1990 to the beginning of 2016. From these start dates, 1000 consecutive trading days of data were gathered, amounting to roughly four years of trading data for each stock.

3. **De-correlation Objective:** The choice of random start dates for each stock dataset prevents the ensemble from reflecting a uniform market period, avoiding highly correlated stock movements. This method aims to offer a more decorrelated and realistic picture of each stock's performance, irrespective of market trends.

4. **Anonymization of Identifiers:** To focus the analysis purely on price movements and technical indicators, company identifiers have been replaced with anonymized strings, creating a level playing field for technical analysis without preconceived biases.

5. **Dataset Structure:** The final saved dataset is structured as a CSV file, with columns for the anonymized ticker, the epoch (day number from 1 to 1000), and various stock price fields such as 'Adj Close', 'Close', 'High', 'Low', 'Open', and 'Volume'.

### Advantages of the Dataset:

- **Diverse Temporal Insights:** The dataset spans various market conditions, offering insights into stock behavior during different economic cycles, including bull markets and recessions.

- **Time Series Forecasting:** With its temporal spread and de-correlation strategy, the dataset serves as an ideal benchmark for time series forecasting models that aim to predict stock price movements.

- **Technical Analysis Focus:** The anonymization of stock tickers shifts the focus entirely to the technical aspects of the stock data, making it a robust resource for analysts practicing technical analysis without influence from the companies' fundamental data.

The **S&P 500 Historical Sampler Dataset** is carefully balanced to mimic the complexities of real-world stock market dynamics and provides a comprehensive resource for advanced time series analysis and forecasting techniques.

## Imports

In [57]:
# !pip install yfinance
import yfinance as yf
import pandas as pd
import random
import string

## Read selected stocks

In [58]:
stocks = pd.read_csv('selected stocks.csv')
stocks.head()

                  Company Ticker
0              Apple Inc.   AAPL
1  Archer Daniels Midland    ADM
2                  Ametek    AME
3              A.O. Smith    AOS
4  Dennison Manufacturing    AVY

In [59]:
tickers = stocks['Ticker'].tolist()

## Download data

In [60]:
data = yf.download(tickers, interval="1d", start="1990-01-01")

[*********************100%%**********************]  81 of 81 completed

10 Failed downloads:
['JOY', 'GMIL', 'FCS', 'BS', 'TSO', 'GKIS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 1990-01-01 -> 2023-11-05)')
['NAV', 'DFODQ', 'REV', 'BGG']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [61]:
data.head()

                    Adj Close                                          \
                         AAPL       ADM       AME       AOS       AVY
Date
1990-01-02 00:00:00  0.263761  4.656211  1.292103  0.353147  7.014167
1990-01-03 00:00:00  0.265531  4.656211  1.304179  0.349752  7.014167
1990-01-04 00:00:00  0.266417  4.630907  1.292103  0.353147  7.094788
1990-01-05 00:00:00  0.267302  4.428461  1.280028  0.349752  6.879794
1990-01-08 00:00:00  0.269072  4.479073  1.267951  0.353147  6.879794

                                                                   ... Volume  \
                            BA        BC       BDX BGG        BKR  ...    TSO
Date                                                               ...
1990-01-02 00:00:00  11.043622  7.969812  4.594038 NaN  10.116333  ...    NaN
1990-01-03 00:00:00  11.312984  7.901110  4.548193 NaN   9.969727  ...    NaN
1990-01-04 00:00:00  11.268091  7.901110  4.511510 NaN   9.725364  ...    NaN
1990-01-05 00:00:00  11.110965  7.901110  4.502343 NaN   9.676494  ...    NaN
1990-01-08 00:00:00  11.245657  7.832399  4.529851 NaN   9.774240  ...    NaN

                                                                               \
                        TTC       TXN     VFC     VMC     VMI VYX     WDC WRC
Date
1990-01-02 00:00:00  622400   3766400  654192   69300   30400 NaN  523200 NaN
1990-01-03 00:00:00  318400   8323200  744250   19500  815200 NaN  506600 NaN
1990-01-04 00:00:00  648000  10654400  493618   23400   96000 NaN  618400 NaN
1990-01-05 00:00:00  544000   6528000  720461   51000  263800 NaN  345200 NaN
1990-01-08 00:00:00  320000   2875200  186062  495300    5200 NaN  178800 NaN


                         XOM
Date
1990-01-02 00:00:00  5326000
1990-01-03 00:00:00  4980400
1990-01-04 00:00:00  6013200
1990-01-05 00:00:00  3854800
1990-01-08 00:00:00  4302000

[5 rows x 486 columns]

In [62]:
# Save the original downloaded data
data.to_csv("original_downloaded_stocks_data.csv")

## Drop missing data

In [63]:
data = data.dropna(axis=1)

## Round floating point numbers

In [64]:
df_rounded = data.round(3)

In [65]:
df_rounded.head()

                    Adj Close                                             \
                         AAPL    ADM    AME    AOS    AVY      BA     BC
Date
1990-01-02 00:00:00     0.264  4.656  1.292  0.353  7.014  11.044  7.970
1990-01-03 00:00:00     0.266  4.656  1.304  0.350  7.014  11.313  7.901
1990-01-04 00:00:00     0.266  4.631  1.292  0.353  7.095  11.268  7.901
1990-01-05 00:00:00     0.267  4.428  1.280  0.350  6.880  11.111  7.901
1990-01-08 00:00:00     0.269  4.479  1.268  0.353  6.880  11.246  7.832

                                           ...  Volume                         \
                       BDX     BKR    CAG  ...     ROK    SPXC     SR     TTC
Date                                       ...
1990-01-02 00:00:00  4.594  10.116  2.612  ...  375800  125484  16600  622400
1990-01-03 00:00:00  4.548   9.970  2.624  ...  207300  267645  32800  318400
1990-01-04 00:00:00  4.512   9.725  2.544  ...  150700  156457  16000  648000
1990-01-05 00:00:00  4.502   9.676  2.510  ...  127500  122307   9000  544000
1990-01-08 00:00:00  4.530   9.774  2.522  ...  177300  339918  20800  320000


                          TXN     VFC     VMC     VMI     WDC      XOM
Date
1990-01-02 00:00:00   3766400  654192   69300   30400  523200  5326000
1990-01-03 00:00:00   8323200  744250   19500  815200  506600  4980400
1990-01-04 00:00:00  10654400  493618   23400   96000  618400  6013200
1990-01-05 00:00:00   6528000  720461   51000  263800  345200  3854800
1990-01-08 00:00:00   2875200  186062  495300    5200  178800  4302000

[5 rows x 312 columns]

## Unpivot the data

In [66]:
frames = []
for c in df_rounded.columns.get_level_values(0).unique():
    d = df_rounded[c].reset_index()
    d = d.melt(id_vars=['Date'], var_name='Ticker', value_name=c)
    frames.append(d)

In [67]:
base = frames[0]
for f in frames[1:]:
    base = base.merge(f, on=['Date', 'Ticker'], how='inner')
print(base.head())

        Date Ticker  Adj Close  Close   High    Low   Open     Volume
0 1990-01-02   AAPL      0.264  0.333  0.335  0.312  0.315  183198400
1 1990-01-03   AAPL      0.266  0.335  0.339  0.335  0.339  207995200
2 1990-01-04   AAPL      0.266  0.336  0.346  0.333  0.342  221513600
3 1990-01-05   AAPL      0.267  0.337  0.342  0.330  0.337  123312000
4 1990-01-08   AAPL      0.269  0.339  0.339  0.330  0.335  101572800

## Pick random date for each ticker

In [68]:
tickers = base['Ticker'].unique().tolist()
print(tickers)

['AAPL', 'ADM', 'AME', 'AOS', 'AVY', 'BA', 'BC', 'BDX', 'BKR', 'CAG', 'CAT', 'CCK', 'CL', 'CMI', 'COP', 'CVX', 'DD', 'DOV', 'F', 'GD', 'GE', 'GLW', 'HON', 'HPQ', 'IBM', 'IP', 'JNJ', 'KO', 'MAT', 'MDT', 'MMM', 'MO', 'MRK', 'MSFT', 'NC', 'NEM', 'NUE', 'NWL', 'OXY', 'PEP', 'PG', 'PPG', 'ROK', 'SPXC', 'SR', 'TTC', 'TXN', 'VFC', 'VMC', 'VMI', 'WDC', 'XOM']

In [69]:
len(tickers)

52

In [70]:
mask = (base['Date'] >= '1990-01-01') & (base['Date'] <= '2016-01-01')
unique_valid_dates = base[mask]['Date'].unique()
random_dates = pd.Series(unique_valid_dates).sample(len(tickers), replace=True, random_state=42).tolist()
# print(random_dates)

### Get 4 years of daily data for each ticker starting from it's corresponding random date

In [71]:
type(random_dates[0]), random_dates[0]

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('1993-05-26 00:00:00'))

In [72]:
stock_df = []
for t, start_date in zip(tickers, random_dates):
    subset = base[base['Ticker'] == t]
    subset = subset[subset['Date'] >= start_date]
#     end_date = start_date + pd.DateOffset(years=4)
#     subset = subset[subset['Date'] < end_date]
    subset = subset.iloc[:1000]
    stock_df.append(subset)

final_data = pd.concat(stock_df)
final_data

             Date Ticker  Adj Close   Close    High     Low    Open     Volume
860    1993-05-26   AAPL      0.422   0.516   0.516   0.494   0.500  121564800
861    1993-05-27   AAPL      0.421   0.513   0.522   0.511   0.516  197288000
862    1993-05-28   AAPL      0.415   0.506   0.513   0.502   0.509  183948800
863    1993-06-01   AAPL      0.418   0.509   0.516   0.504   0.504  135072000
864    1993-06-02   AAPL      0.418   0.509   0.520   0.500   0.507  200480000
...           ...    ...        ...     ...     ...     ...     ...        ...
438760 2005-05-25    XOM     30.216  55.680  55.980  54.810  55.060   17737900
438761 2005-05-26    XOM     30.509  56.220  56.410  55.710  56.050   12250500
438762 2005-05-27    XOM     30.823  56.800  56.900  56.290  56.400   10305500
438763 2005-05-31    XOM     30.498  56.200  57.100  56.100  57.000   21371100
438764 2005-06-01    XOM     31.013  57.150  57.410  56.330  56.450   14608600

[52000 rows x 8 columns]

## Replace date column with epoch

In [73]:
epochs = []
lengths = []
for t in final_data['Ticker'].unique():
    length = final_data[final_data['Ticker'] == t].shape[0]
    epochs += list(range(1, length+1))
    lengths.append(length)
final_data.insert(2, 'Epoch', epochs)
print(final_data.head())

          Date Ticker  Epoch  Adj Close  Close   High    Low   Open     Volume
860 1993-05-26   AAPL      1      0.422  0.516  0.516  0.494  0.500  121564800
861 1993-05-27   AAPL      2      0.421  0.513  0.522  0.511  0.516  197288000
862 1993-05-28   AAPL      3      0.415  0.506  0.513  0.502  0.509  183948800
863 1993-06-01   AAPL      4      0.418  0.509  0.516  0.504  0.504  135072000
864 1993-06-02   AAPL      5      0.418  0.509  0.520  0.500  0.507  200480000

## Making sure all stocks have the same number of rows

In [74]:
pd.Series(lengths).unique()

array([1000], dtype=int64)

In [75]:
final_data['Ticker'].value_counts().nunique()

1

## Anonymize Stock Tickers

In [76]:
unique_tickers = final_data['Ticker'].unique()

# Generate a random string of fixed length, say 5 characters
def generate_random_string(length=8):
    return ''.join(random.choices(string.ascii_uppercase, k=length))

# Create a mapping dictionary from original tickers to random strings
ticker_mapping = {ticker: generate_random_string() for ticker in unique_tickers}

# Ensure uniqueness of the random strings, if not regenerate
while len(set(ticker_mapping.values())) < len(ticker_mapping):
    for ticker in ticker_mapping:
        ticker_mapping[ticker] = generate_random_string()

# Replace the tickers in the DataFrame
final_data['Ticker'] = final_data['Ticker'].map(ticker_mapping)

final_data.rename(columns={'Ticker': 'Masked_Ticker'}, inplace=True)
print(final_data.head())

          Date Masked_Ticker  Epoch  Adj Close  Close   High    Low   Open  \
860 1993-05-26      IUKUVMDR      1      0.422  0.516  0.516  0.494  0.500
861 1993-05-27      IUKUVMDR      2      0.421  0.513  0.522  0.511  0.516
862 1993-05-28      IUKUVMDR      3      0.415  0.506  0.513  0.502  0.509
863 1993-06-01      IUKUVMDR      4      0.418  0.509  0.516  0.504  0.504
864 1993-06-02      IUKUVMDR      5      0.418  0.509  0.520  0.500  0.507

        Volume
860  121564800
861  197288000
862  183948800
863  135072000
864  200480000

## Saving processed data

In [77]:
del final_data['Date']

In [78]:
final_data.to_csv('../../processed/daily_stock_prices/daily_stock_prices.csv', index=False)