# ETT (Electricity Transformer Temperature) Dataset - ETTm2

## Overview

The Electricity Transformer Temperature (ETT) dataset is designed for time series forecasting tasks, specifically focusing on the prediction of electricity transformer temperatures. This dataset is widely used in the research and development of forecasting models, particularly for applications in energy management and smart grid systems.

## ETTm2 Subset

The `ETTm2` subset of the ETT dataset contains hourly data collected from the first transformer. This subset is particularly useful for studying the temperature variations and trends on an hourly basis, enabling the development of models that can predict short-term temperature changes.

## Features

The dataset consists of several features, each representing a different aspect of the transformer's operational parameters and environmental conditions. The main features are:

- **date**: The timestamp of the recorded data.
- **HUFL**: High Useful Load Forecast, representing the forecasted load at a high level.
- **HULL**: High Useful Load Low, representing the forecasted load at a low level.
- **MUFL**: Medium Useful Load Forecast, representing the forecasted load at a medium level.
- **MULL**: Medium Useful Load Low, representing the forecasted load at a low level.
- **LUFL**: Low Useful Load Forecast, representing the forecasted load at a low level.
- **LULL**: Low Useful Load Low, representing the forecasted load at a low level.
- **OT**: Oil Temperature, representing the temperature of the transformer's oil, which is the target variable for forecasting.

> Forecast length : 720


## Data Format

The dataset is stored in a CSV file format with each row corresponding to a single hour of data. The columns in the file represent the different features described above. Here is a sample of the data format:

| date                | HUFL | HULL | MUFL | MULL | LUFL | LULL | OT   |
|---------------------|------|------|------|------|------|------|------|
| 2016-07-01 00:00:00 | 21.0 | 20.5 | 19.8 | 19.3 | 18.7 | 18.2 | 29.0 |
| 2016-07-01 01:00:00 | 20.8 | 20.3 | 19.6 | 19.1 | 18.5 | 18.0 | 28.8 |
| ...                 | ...  | ...  | ...  | ...  | ...  | ...  | ...  |

## Usage

The `ETTm2` subset is ideal for developing and testing time series forecasting models. Researchers and practitioners can use this dataset to:

- Develop predictive models for transformer temperature forecasting.
- Study the impact of load variations on transformer temperature.
- Test the performance of different time series forecasting algorithms.

## References

For more details on the dataset, you can refer to the official documentation and publications related to the ETT dataset. The dataset is publicly available and can be accessed from the following sources:

- [Official Repository](https://github.com/zhouhaoyi/ETDataset)
- [Research Paper](https://arxiv.org/abs/2012.07436)

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from pathlib import Path
%matplotlib inline

In [2]:
%pip install gluonts

Requirement already satisfied: gluonts in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (0.15.1)
Requirement already satisfied: numpy~=1.16 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (1.26.4)
Requirement already satisfied: pandas<3,>=1.0 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (1.5.3)
Requirement already satisfied: pydantic<3,>=1.7 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (2.7.3)
Requirement already satisfied: tqdm~=4.23 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (4.66.4)
Requirement already satisfied: toolz~=0.10 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (0.12.1)
Requirement already satisfied: typing-extensions~=4.0 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from gluonts) (4.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from pandas<3,>=1.0->gluonts) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from pandas<3,>=1.0->gluonts) (2024.1)
Requirement already satisfied: annotated-types>=0.4.0 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from pydantic<3,>=1.7->gluonts) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.4 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from pydantic<3,>=1.7->gluonts) (2.18.4)
Requirement already satisfied: colorama in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from tqdm~=4.23->gluonts) (0.4.6)
Requirement already satisfied: six>=1.5 in e:\readytensor\rt-datasets-forecasting\.venv\lib\site-packages (from python-dateutil>=2.8.1->pandas<3,>=1.0->gluonts) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from gluonts.dataset.repository import get_dataset, dataset_names

e:\ReadyTensor\rt-datasets-forecasting\.venv\Lib\site-packages\gluonts\json.py:102: UserWarning: Using `json`-module for json-handling. Consider installing one of `orjson`, `ujson` to speed up serialization and deserialization.
  warnings.warn(

In [4]:
print(f"Available datasets: {dataset_names}")

Available datasets: ['constant', 'exchange_rate', 'solar-energy', 'electricity', 'traffic', 'exchange_rate_nips', 'electricity_nips', 'traffic_nips', 'solar_nips', 'wiki2000_nips', 'wiki-rolling_nips', 'taxi_30min', 'kaggle_web_traffic_with_missing', 'kaggle_web_traffic_without_missing', 'kaggle_web_traffic_weekly', 'm1_yearly', 'm1_quarterly', 'm1_monthly', 'nn5_daily_with_missing', 'nn5_daily_without_missing', 'nn5_weekly', 'tourism_monthly', 'tourism_quarterly', 'tourism_yearly', 'cif_2016', 'london_smart_meters_without_missing', 'wind_farms_without_missing', 'car_parts_without_missing', 'dominick', 'fred_md', 'pedestrian_counts', 'hospital', 'covid_deaths', 'kdd_cup_2018_without_missing', 'weather', 'm3_monthly', 'm3_quarterly', 'm3_yearly', 'm3_other', 'm4_hourly', 'm4_daily', 'm4_weekly', 'm4_monthly', 'm4_quarterly', 'm4_yearly', 'm5', 'uber_tlc_daily', 'uber_tlc_hourly', 'airpassengers', 'australian_electricity_demand', 'electricity_hourly', 'electricity_weekly', 'rideshare_without_missing', 'saugeenday', 'solar_10_minutes', 'solar_weekly', 'sunspot_without_missing', 'temperature_rain_without_missing', 'vehicle_trips_without_missing', 'ercot', 'ett_small_15min', 'ett_small_1h']

In [5]:
gluonts_dataset_name = "ett_small_15min"

In [6]:
dataset_name = "ettm2_forecast_len_720"

In [7]:
dataset_path = Path(f'./../../raw/{dataset_name}/')
output_dir = f'./../../processed/{dataset_name}/'
os.makedirs(output_dir, exist_ok=True)
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_fig_fname = os.path.join(output_dir, f'{dataset_name}.png')

# Read Data

In [8]:
data = get_dataset(gluonts_dataset_name, regenerate=True,path=dataset_path)

In [9]:
data.metadata.json()

'{"freq": "15min", "target": null, "feat_static_cat": [], "feat_static_real": [], "feat_dynamic_real": [], "feat_dynamic_cat": [], "prediction_length": 24}'

In [10]:
df_gluonts = pd.DataFrame(data.train)
print("data shape : ",df_gluonts.shape)
print(df_gluonts.iloc[0]['target'].shape)
print(df_gluonts['item_id'].unique())
df_gluonts.head()

data shape :  (14, 3)
(69656,)
['HUFL_0' 'HULL_0' 'MUFL_0' 'MULL_0' 'LUFL_0' 'LULL_0' 'OT_0' 'HUFL_1'
 'HULL_1' 'MUFL_1' 'MULL_1' 'LUFL_1' 'LULL_1' 'OT_1']

              start item_id                                             target
0  2016-07-01 00:00  HUFL_0  [5.827, 5.76, 5.76, 5.76, 5.693, 5.492, 5.358,...
1  2016-07-01 00:00  HULL_0  [2.009, 2.076, 1.942, 1.942, 2.076, 1.942, 1.8...
2  2016-07-01 00:00  MUFL_0  [1.599, 1.492, 1.492, 1.492, 1.492, 1.457, 1.3...
3  2016-07-01 00:00  MULL_0  [0.462, 0.426, 0.391, 0.426, 0.426, 0.391, 0.3...
4  2016-07-01 00:00  LUFL_0  [4.203, 4.264, 4.234, 4.234, 4.142, 4.112, 3.9...

In [11]:
df_test = pd.DataFrame(data.test)
print("data shape : ",df_test.shape)
print(df_test.iloc[0]['target'].shape)
print(df_test['item_id'].unique())
print("Are both datasets the same ?? ",df_gluonts.equals(df_test))
df_test.head()

data shape :  (14, 3)
(69680,)
['HUFL_0' 'HULL_0' 'MUFL_0' 'MULL_0' 'LUFL_0' 'LULL_0' 'OT_0' 'HUFL_1'
 'HULL_1' 'MUFL_1' 'MULL_1' 'LUFL_1' 'LULL_1' 'OT_1']
Are both datasets the same ??  True

              start item_id                                             target
0  2016-07-01 00:00  HUFL_0  [5.827, 5.76, 5.76, 5.76, 5.693, 5.492, 5.358,...
1  2016-07-01 00:00  HULL_0  [2.009, 2.076, 1.942, 1.942, 2.076, 1.942, 1.8...
2  2016-07-01 00:00  MUFL_0  [1.599, 1.492, 1.492, 1.492, 1.492, 1.457, 1.3...
3  2016-07-01 00:00  MULL_0  [0.462, 0.426, 0.391, 0.426, 0.426, 0.391, 0.3...
4  2016-07-01 00:00  LUFL_0  [4.203, 4.264, 4.234, 4.234, 4.142, 4.112, 3.9...

## Extracting first county data from the dataset

In [12]:
df_gluonts = df_gluonts.iloc[7:,:]
df_gluonts.shape

(7, 3)

In [13]:
for i in range(df_gluonts.shape[0]):
    print(df_gluonts.iloc[i]['target'].shape)
df_gluonts

(69656,)
(69656,)
(69656,)
(69656,)
(69656,)
(69656,)
(69656,)

,start,item_id,target
7,2016-07-01 00:00,HUFL_1,"[41.13, 39.622, 38.868, 35.518, 37.528, 37.612..."
8,2016-07-01 00:00,HULL_1,"[12.481, 11.309, 10.555, 9.214, 10.136, 10.303..."
9,2016-07-01 00:00,MUFL_1,"[36.536, 35.544, 34.365, 32.569, 33.936, 33.21..."
10,2016-07-01 00:00,MULL_1,"[9.355, 8.551, 7.586, 8.712, 7.532, 7.532, 7.2..."
11,2016-07-01 00:00,LUFL_1,"[4.424, 3.209, 4.435, 4.435, 4.435, 3.913, 3.9..."
12,2016-07-01 00:00,LULL_1,"[1.311, 1.258, 1.258, 1.215, 1.215, 1.301, 0.0..."
13,2016-07-01 00:00,OT_1,"[38.662, 38.223, 37.344, 37.124, 37.124, 36.90..."

## Spreading each variable across the dataframe

In [14]:
from datetime import timedelta

ext = '_1'
df_gluonts_pivot = df_gluonts.pivot(index='start', columns='item_id', values='target',).reset_index().rename_axis(None, axis=1)

timestamp = df_gluonts_pivot.loc[0, 'start'].to_timestamp()
series_id = 'series' + ext

length_of_lists = len(df_gluonts_pivot.loc[0, 'HUFL'+ext])

timeseries_df = {
    'series_id': [series_id] * length_of_lists,
    'timestamp': [timestamp + timedelta(minutes=15*i) for i in range(length_of_lists)],
    'HUFL': df_gluonts_pivot.loc[0, 'HUFL'+ext],
    'HULL': df_gluonts_pivot.loc[0, 'HULL'+ext],
    'LUFL': df_gluonts_pivot.loc[0, 'LUFL'+ext],
    'LULL': df_gluonts_pivot.loc[0, 'LULL'+ext],
    'MUFL': df_gluonts_pivot.loc[0, 'MUFL'+ext],
    'MULL': df_gluonts_pivot.loc[0, 'MULL'+ext],
    'OT': df_gluonts_pivot.loc[0, 'OT'+ext],
}

timeseries_df = pd.DataFrame(timeseries_df)

timeseries_df

,series_id,timestamp,HUFL,HULL,LUFL,LULL,MUFL,MULL,OT
0,series_1,2016-07-01 00:00:00,41.130001,12.481,4.424,1.311,36.535999,9.355,38.661999
1,series_1,2016-07-01 00:15:00,39.622002,11.309,3.209,1.258,35.543999,8.551,38.223000
2,series_1,2016-07-01 00:30:00,38.868000,10.555,4.435,1.258,34.365002,7.586,37.344002
3,series_1,2016-07-01 00:45:00,35.518002,9.214,4.435,1.215,32.569000,8.712,37.124001
4,series_1,2016-07-01 01:00:00,37.528000,10.136,4.435,1.215,33.936001,7.532,37.124001
...,...,...,...,...,...,...,...,...,...
69651,series_1,2018-06-26 12:45:00,47.580002,13.068,-10.342,-1.759,57.953999,12.786,46.865501
69652,series_1,2018-06-26 13:00:00,44.900002,12.063,-10.342,-1.759,55.247002,12.170,46.865501
69653,series_1,2018-06-26 13:15:00,44.731998,12.230,-10.342,-1.759,55.460999,12.331,46.865501
69654,series_1,2018-06-26 13:30:00,46.240002,12.649,-10.342,-1.759,57.284000,12.572,47.084999
69655,series_1,2018-06-26 13:45:00,43.811001,11.895,-10.342,-1.461,54.630001,12.036,47.084999

# Identify columns to use for the dataset

In [15]:
series_col = "series_id"
epoch_col = ''
time_col = 'timestamp'
value_col = 'OT'
exog_cols=['HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL' ]

# Save Data

In [16]:
timeseries_df.sort_values(by=[series_col, time_col], inplace=True)
timeseries_df.to_csv(outp_fname, index=False)

In [17]:
timeseries_df.shape

(69656, 9)