In [13]:
import pandas as pd
import os

In [14]:
dataset_name = "synthetic_retail_network_sales"

In [15]:
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

In [16]:
data = pd.read_csv("synthetic_retail_network_sales_full.csv", parse_dates=['date_time'])
data.head()

,org_id,date_time,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday
0,Org_5_0_97193107_86040,2013-02-01 07:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,Org_5_0_97193107_86040,2013-02-01 08:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
2,Org_5_0_97193107_86040,2013-02-01 08:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,Org_5_0_97193107_86040,2013-02-01 09:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,Org_5_0_97193107_86040,2013-02-01 09:30:00,177.95,148.21,77.67,51.54,93.63,82.09,0,0,0

In [17]:
data.columns

Index(['org_id', 'date_time', 'Act_5_0__40944', 'Act_5_0__45308',
       'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723',
       'is_holiday', 'pre_holiday', 'post_holiday'],
      dtype='object')

In [18]:
series_col = "org_id"
epoch_col = 'epoch'
time_col = 'date_time'
value_col = 'Act_5_0__40944'
exog_cols = [
    'Act_5_0__45308', 'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723',
       'is_holiday', 'pre_holiday', 'post_holiday'
]

In [19]:
len(exog_cols)

8

# Add Epochs

In [20]:
unique_times = sorted(data[time_col].drop_duplicates().tolist())
times_to_epoch = {
    t: i for i, t in enumerate(unique_times)
}
#print(yrmt_to_epoch)
data[epoch_col] = data[time_col].map(times_to_epoch)

In [21]:
data.head()

,org_id,date_time,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday,epoch
0,Org_5_0_97193107_86040,2013-02-01 07:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0
1,Org_5_0_97193107_86040,2013-02-01 08:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,1
2,Org_5_0_97193107_86040,2013-02-01 08:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,2
3,Org_5_0_97193107_86040,2013-02-01 09:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,3
4,Org_5_0_97193107_86040,2013-02-01 09:30:00,177.95,148.21,77.67,51.54,93.63,82.09,0,0,0,4

## Reorder columns

In [22]:
all_cols = [series_col, epoch_col, value_col] + exog_cols
print(all_cols)

['org_id', 'epoch', 'Act_5_0__40944', 'Act_5_0__45308', 'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723', 'is_holiday', 'pre_holiday', 'post_holiday']

# Save Main Data File

In [9]:
data.to_csv(outp_fname, index=False, float_format="%.3f")

In [23]:
data[all_cols].head()

,org_id,epoch,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday
0,Org_5_0_97193107_86040,0,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,Org_5_0_97193107_86040,1,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
2,Org_5_0_97193107_86040,2,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,Org_5_0_97193107_86040,3,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,Org_5_0_97193107_86040,4,177.95,148.21,77.67,51.54,93.63,82.09,0,0,0