In [12]:
import pandas as pd
import os

In [13]:
dataset_name = "bank_branch_transactions"

In [14]:
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

In [15]:
data = pd.read_csv("synthetic_retail_network_sales_full.csv", parse_dates=['date_time'])
data.head()

,org_id,date_time,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday
0,Org_5_0_97193107_86040,2013-02-01 07:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,Org_5_0_97193107_86040,2013-02-01 08:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
2,Org_5_0_97193107_86040,2013-02-01 08:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,Org_5_0_97193107_86040,2013-02-01 09:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,Org_5_0_97193107_86040,2013-02-01 09:30:00,177.95,148.21,77.67,51.54,93.63,82.09,0,0,0

In [16]:
data.columns

Index(['org_id', 'date_time', 'Act_5_0__40944', 'Act_5_0__45308',
       'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723',
       'is_holiday', 'pre_holiday', 'post_holiday'],
      dtype='object')

In [17]:
series_col = "org_id"
epoch_col = 'epoch'
time_col = 'date_time'
value_col = 'Act_5_0__40944'
exog_cols = [
    'Act_5_0__45308', 'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723',
       'is_holiday', 'pre_holiday', 'post_holiday'
]

In [18]:
len(exog_cols)

8

# Add Epochs

In [19]:
unique_times = sorted(data[time_col].drop_duplicates().tolist())
times_to_epoch = {
    t: i for i, t in enumerate(unique_times)
}
#print(yrmt_to_epoch)
data[epoch_col] = data[time_col].map(times_to_epoch)

In [20]:
data.head()

,org_id,date_time,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday,epoch
0,Org_5_0_97193107_86040,2013-02-01 07:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0
1,Org_5_0_97193107_86040,2013-02-01 08:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,1
2,Org_5_0_97193107_86040,2013-02-01 08:30:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,2
3,Org_5_0_97193107_86040,2013-02-01 09:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,3
4,Org_5_0_97193107_86040,2013-02-01 09:30:00,177.95,148.21,77.67,51.54,93.63,82.09,0,0,0,4

## Reorder columns

In [21]:
all_cols = [series_col, epoch_col, value_col] + exog_cols
print(all_cols)

['org_id', 'epoch', 'Act_5_0__40944', 'Act_5_0__45308', 'Act_5_0__82324', 'Act_5_0__89097', 'Act_5_0__94157', 'Act_5_0__96723', 'is_holiday', 'pre_holiday', 'post_holiday']

# Save Main Data File

In [22]:
data[all_cols].to_csv(outp_fname, index=False, float_format="%.3f")

In [26]:
data.tail()

,org_id,date_time,Act_5_0__40944,Act_5_0__45308,Act_5_0__82324,Act_5_0__89097,Act_5_0__94157,Act_5_0__96723,is_holiday,pre_holiday,post_holiday,epoch
113563,Org_5_1_61795447_90363,2013-08-28 15:30:00,6.36,43.59,13.27,27.6,47.26,11.05,0,0,0,3544
113564,Org_5_1_61795447_90363,2013-08-28 16:00:00,0.00,0.00,0.00,0.0,0.00,0.00,0,0,0,3545
113565,Org_5_1_61795447_90363,2013-08-28 16:30:00,0.00,0.00,0.00,0.0,0.00,0.00,0,0,0,3546
113566,Org_5_1_61795447_90363,2013-08-28 17:00:00,0.00,0.00,0.00,0.0,0.00,0.00,0,0,0,3547
113567,Org_5_1_61795447_90363,2013-08-28 17:30:00,0.00,0.00,0.00,0.0,0.00,0.00,0,0,0,3548

In [28]:
24*

3549